@font-face {
  font-family: "Helvetica-Neue-Bold";
  src:
    url("../fonts/HelveticaNeueBold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueBold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src:
    url("../fonts/HelveticaNeueLight.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLight.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src:
    url("../fonts/HelveticaNeueMedium.woff2") format("woff2"),
    url("../fonts/HelveticaNeueMedium.woff") format("woff");
}

@font-face {
  font-family: "Gotham Bold";
  src:
    url("../fonts/Gotham-Bold.woff2") format("woff2"),
    url("../fonts/Gotham-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gotham Light";
  src:
    url("../fonts/GothamRounded-Light.woff2") format("woff2"),
    url("../fonts/GothamRounded-Light.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links,
.card-text,
.pagination-text,
.footer-li-link,
.footer-nav-p,
.slider-desc {
  font-family: "Helvetica Neue Light", Arial, Helvetica, sans-serif;
}

.condition,
footer,
.price,
.product-name {
  font-family: "Helvetica-Neue-Bold", Arial, Helvetica, sans-serif;
}

.category-name,
.search-query-paragraph,
.categories-button,
.filter-name,
.slider-header {
  font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
}

.product-title,
.imported {
  font-family: "Helvetica Neue Medium", Arial, Helvetica, sans-serif;
}

body {
  background-color: #888;
}

main {
  max-width: 1310px;
}

.logo-image {
  max-width: 68px;
  max-height: 68px;
  border-radius: 20px;
}

nav {
  background-color: #383838;
  position: sticky;
  top: 0;
  z-index: 12;
}

.navbar-container {
  position: fixed;
}

.links {
  text-decoration: none;
  font-size: 13px;
  color: #888;
  padding: 0 15px 0 5px;
}

header {
  height: 100px;
  width: 100%;
  z-index: 12;
  position: fixed;
}

.links:hover {
  text-decoration: none;
  color: #d35266;
}

.nav-icons {
  font-size: 19px;
  color: #888;
}

.nav-button {
  border: none;
  background-color: #d35266;
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: rgb(110, 43, 53);
}

.search {
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 25px;
  background: url("../images/search-bg.jpeg");
}

.search-input {
  width: 200px;
  height: 37px;
  border-radius: 5px;
  padding-left: 15px;
}

.search-input:hover {
  border: rgb(9, 216, 231) 4px solid;
}

.categories {
  position: absolute;
  width: 150px;
  margin-top: 2px;
  display: none;
  z-index: 10;
}

.categories-button {
  display: none;
}

.categories-button:hover .categories {
  display: block;
}

.category-ul {
  list-style: none;
  text-align: left;
}

.category-li {
  background-color: white;
  border-bottom: 1px solid #888;
}

.category-li:last-child {
  border: none;
}

.category-link {
  padding-left: 20px;
  text-decoration: none;
  color: #d35266;
}

.category-link:hover {
  color: #d35266;
  text-decoration: none;
}

.category-li:hover {
  background-color: #888;
}

.slider-container {
  display: none;
}

.slider-image {
  max-width: 300px;
  max-height: 300px;
}

.slider-desc {
  color: #888;
}

.products-sidebar {
  display: none;
}

.products-category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  padding: 0 20px;
}

.category-name {
  color: #d35266;
}

.fa-user-astronaut,
.fa-car-side {
  color: #888;
  font-size: 20px;
}

.product-title {
  color: #d35266;
}

.product-title:hover {
  text-decoration: none;
  color: rgb(119, 44, 56);
}

.condition {
  color: #888;
  font-size: 14px;
}

.card-text {
  font-size: 16px;
}

.add-to-cart {
  font-size: 24px;
  font-weight: bold;
}

.main-links,
.main-email {
  display: none;
}

.slider-inner-box {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  align-items: center;
}

.slider-header {
  color: #d35266;
}

.collpase-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  padding: 20px;
  background-color: rgb(248, 242, 242);
}

.filter {
  display: none;
}

.footer-navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 0 20px;
  justify-content: center;
  background-color: #383838;
}

footer {
  background-color: #383838;
  color: #d35266;
  padding: 20px 0;
}

.search-result-img {
  max-width: 250px;
  max-height: 250px;
}

.search-products {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.fa-angle-double-left,
.fa-angle-double-right {
  font-size: 20px;
  margin-left: 15px;
  color: #383838;
}

.fa-angle-double-left:hover,
.fa-angle-double-right:hover {
  font-size: 20px;
  margin-left: 15px;
  color: #383838;
}

.pagination-text {
  color: white;
  font-weight: bold;
  background-color: #888;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 15px;
  padding: 5px 10px;
  border: #383838 1px solid;
  text-decoration: none;
}

.pagination-text:hover {
  text-decoration: none;
  color: #d35266;
}

.fa-bars {
  font-size: 30px;
  color: white;
}

.search-query-paragraph {
  font-size: 16px;
  color: #888;
}

.price,
.product-name {
  color: #d35266;
  text-decoration: none;
}

.product-name:hover {
  text-decoration: none;
  color: rgb(124, 39, 52);
}

.imported {
  color: #383838;
  font-weight: bold;
}

.footer-li-link,
.footer-nav-p {
  color: white;
  text-decoration: none;
}

.footer-li-link:hover {
  text-decoration: none;
  color: #d35266;
}

.card:hover {
  box-shadow: 5px 5px rgb(181, 181, 226);
}

.about {
  display: flex;
  justify-content: center;
}

.about-p {
  margin: 20px auto;
  width: 80%;
  color: #d35266;
  font-family: "Gotham Light", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@media (min-width: 768px) {
  .main-email,
  .main-links {
    display: flex;
  }

  .categories-button {
    text-align: center;
    align-items: center;
    display: block;
    background-color: white;
    height: 37px;
    border-radius: 5px;
    border: none;
    width: 150px;
    font-size: 16px;
    color: #d35266;
  }

  .collpase-icon {
    display: none;
  }

  .products-category {
    display: grid;
    grid-template-columns: 0.5fr 6fr 6fr 6fr 6fr 0.5fr;
    column-gap: 0.5rem;
    padding: 0 20px;
  }

  .products-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-container {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
  }

  .fa-angle-left,
  .fa-angle-right {
    width: 40px;
    height: 40px;
    font-size: 24px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }

  .fa-angle-left:hover,
  .fa-angle-right:hover {
    border: 3px solid #888;
    color: white;
    font-weight: bold;
    background-color: #d35266;
  }

  .search-result-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .search-products {
    justify-content: center;
    grid-template-columns: 1fr 3fr;
  }

  .filter {
    display: block;
  }

  .filter-box {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    color: #888;
  }

  .filter-name {
    color: #383838;
  }

  .footer-navigation {
    grid-template-columns: repeat(4, 1fr);
  }
}
